{% extends "layout.html" %}
{% block body %}
<h1>Username - {{ user.username }}</h1>
<h2>Name - {{ user.name }}</h2>
<h2> Email - {{ user.email }}</h2>
<img src="{{ url_for('static', filename=user.avatar_path) }}">

{% if not following %}
<form method="post" action="{{ url_for('user.follow')}}">
    <div class="follow">
        <input type="hidden" name="id" id="follow-id" value="{{ user.id }}" />
    </div>
    <input type="submit" value="Follow!" />
</form>
{% else %}
<form method="post" action="{{ url_for('user.unfollow')}}">
    <div class="unfollow">
        <input type="hidden" name="id" id="follow-id" value="{{ user.id }}" />
    </div>
    <input type="submit" value="Unfollow!" />
</form>
{% endif %}
{% endblock %}